.App{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
}
.welcome-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.navigation-bar{
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  align-items: center;
  gap: 5vh;
}

.navigation-bar:first-child{
  margin-top: 2rem;
}

.gallery{
  flex: 1;
}