.App{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
}
.welcome-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.navigation-bar{
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  align-items: center;
  gap: 5vh;
}

.navigation-bar:first-child{
  margin-top: 2rem;
}

.gallery{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
}

.create{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid red;
}



.create h1{
  margin-bottom: 5%;
}

.edit{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid red;
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5vw;
  margin-bottom: 10%;
}

.submit-form{
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.current-info{
  display: flex;
  flex-direction: row;
}